<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PDF Catalog</title>
</head>

<body>
    <form action="fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="filetoupload"><br>
        <input type="submit">
    </form>

    <ul>
        <% pdfLog.forEach(function(dat) { %>
        <a href="<%= dat.filePath %>"> <img src="<%= dat.imagePath %>" /></a>
        <li><%= dat.fileName%></li>
        <!-- <li><%= dat.description%></li> -->
        <% }); %>
    </ul>
</body>

</html>