<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>PDF Catalog</title>
  </head>

  <body>
    <!-- Start Header Container -->
    <header>
      <div class="navbar">
        <!-- Logo -->
        <img src="/images/logo.png" />

        <!-- Appearance of hamburger to toggle menu on small screens -->
        <div class="hamburger-box">
          <input type="checkbox" class="toggle" onclick=" showHide()" />
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>

        <!-- Main menu, hidden by default on small s -->
        <div class="navbar-categories" id="myNavbar">
          <a class="lnkbtn" href="/">Home</a>
          <a class="lnkbtn" href="#contact">Contact</a>
          <div class="dropdown lnkbtn">
            Upload
            <div class="dropdown-content">
              <form
                action="fileupload"
                method="post"
                enctype="multipart/form-data"
                charset="UTF-8"
              >
                <input
                  id="name"
                  type="file"
                  accept=".pdf"
                  name="filetoupload"
                /><br />
                <label>Title:</label>
                <input type="text" value="" name="fileTitleInput" />
                <input type="submit" />
              </form>
            </div>
          </div>
          <a class="lnkbtn">
            <form
              action="/search"
              method="post"
              enctype="utf-8"
              charset="UTF-8"
            >
              Search
              <input
                type="text"
                name="searchData"
                placeholder="Find documents..."
              />
              <button>Search</button>
              <!-- <script>
                var ages = [32, 33, 12, 40];

                function checkAdult(age) {
                  return age >= document.getElementById('ageToCheck').value;
                }

                function myFunction() {
                  document.getElementById('demo').innerHTML = ages.filter(
                    checkAdult
                  );
                }
              </script> -->
            </form>
          </a>
        </div>
      </div>
    </header>

    <form action="/search" method="post" enctype="utf-8" charset="UTF-8">
      Search
      <input type="text" name="searchData" placeholder="Find documents..." />
      <button>Search</button>
    </form>

    <div class="row">
      <% searchResult.forEach(function(dat) { %>
      <div class="column">
        <div class="card">
          <div class="container">
            <img src="<%= dat.item.imagePath %>" style="width:100%" />
            <h2><%= dat.item.fileTitle%></h2>
            <p>
              <button
                class="button"
                onclick='window.location.href ="<%= dat.item.filePath %>"'
              >
                Open
              </button>
            </p>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <script>
      function showHide() {
        var x = document.getElementById('myNavbar');
        if (x.className === 'navbar-categories') {
          x.className += ' showHide';
        } else {
          x.className = 'navbar-categories';
        }
      }
    </script>
  </body>
</html>
